peptide_tools_master_v1.0/

    python3 or later 
    rdkit/2021.03.1 (tested with)
    matplotlib/3.0.3 (tested with) 
    Biopython/1.73 (tested with)
    and all tools below


dimorphite_dl-1.2.4_for_rdkit_pI/
    
    Python3
    check this for the original repo:
    https://github.com/UnixJunkie/dimorphite_dl


extn_coeff_fasta_v2.2/

    python3 or later 
    Biopython/1.73 (tested with)


pI_fasta_v1.4/

    python3 or later 
    matplotlib/3.0.3 (tested with) 
    Biopython/1.73 (tested with)


rdkit_pI_v3.2/

    python3 or later 
    rdkit/2021.03.1 (tested with)
    matplotlib/3.0.3 (tested with) 
    Biopython/1.73 (tested with)
    
    if --use_acdlabs enabled:
        acdperceptabatch     # "perceptabat" executable should be callable

    if --use_dimorphite enabled:
        dimorphite_dl-1.2.4_for_rdkit_pI

smi2scrambledfasta_v1.0/

    python2 or later 
    rdkit/2020.03.1 (tested with)
    rdkit_pI v3.1 or later



